/* CSS Document */
.TopNew
{
	width:495px;
	border:1px solid #f2efef;
	
	
} 
.subcontent
{
	width:500px;
	height:auto;
	padding-bottom:13px;	
}

.boxsub
{
	width:142px;
	height:105px;
	overflow:hidden;
	border:1px solid #b8b7b7;
	margin:10px;
	text-align:center;
}
.boxsub img
{
     height:105px;
    
}
.wbox
{
	background-color:#ffffff;
	width:auto;
	height:auto;
	
	
}
.wbox.Cat
{
	width:500px;
	height:auto;
	margin-top:10px;
}

.wbox .tl
{
	background:url(images/left_wbox_03.jpg) no-repeat left top;	
	padding-left:3px;
}
.wbox .tr
{
	background:url(images/right_wbox_03.jpg) no-repeat right top;	
	
	padding-right:3px;
}
.wbox .tc
{
	background:url(images/mid_wbox_03.jpg) repeat-x left top;	
	height:23px;
	color:#246296;
	font-size:13px;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:5px;
	padding-left:7px;
}
.wbox .tc a
{
	text-decoration:none;
	color:#080!important
}
.wbox .ml
{
	background:url(images/left_contannerbox.jpg) repeat-y left top;
	padding-left:3px;
	
}
.wbox .mr
{
	background:url(images/right_contannerbox.jpg) repeat-y right top;
	padding-right:3px;
	
}
.wbox .mc
{
	background-color:#FFFFFF;
}
.wbox .bl
{
	background:url(images/bottomLeft_wbox.jpg) no-repeat left top;
	padding-left:3px;
	height:5px;
}
.wbox .br
{
	background:url(images/bottomright_wbox.jpg) no-repeat right top;
	height:5px;
	padding-right:3px;
}
.wbox .bc
{
	background:url(images/bottomMiddle_wbox.jpg) repeat-x left top;
	height:5px;
	font-size:0;
	line-height:5px;
}

.Parent
{
	width:500px;
	height:auto;
}
.Parent .tl
{
	background:url(images/left_wbox_03.jpg) no-repeat left top;	
	padding-left:3px;
}
.Parent .tr
{
	background:url(images/right_wbox_03.jpg) no-repeat right top;	
	
	padding-right:3px;
}
.Parent .tc
{
	background:url(images/mid_wbox_03.jpg) repeat-x left top;	
	height:23px;
	color:#246296;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:5px;
	padding-left:7px;
}
.Parent .tc a
{
    color:#236699;
text-decoration:none;
}
.Parent .ml
{
	background:url(images/ml_chuyenmuc_03.jpg) repeat-y left top;
	padding-left:3px;
	
}
.Parent .mr
{
	background:url(images/mr_chuyenmuc_03.jpg) repeat-y right top;
	padding-right:3px;
	
}
.Parent .mc
{
	
	background-color:#FFFFFF;
}
.Parent .bl
{
	background:url(images/bottomLeft_wbox.jpg) no-repeat left top;
	padding-left:3px;
	height:5px;
}
.Parent .br
{
	background:url(images/bottomright_wbox.jpg) no-repeat right top;
	height:5px;
	padding-right:3px;
}
.Parent .bc
{
	background:url(images/bottomMiddle_wbox.jpg) repeat-x left top;
	height:5px;
}
.News .tc a{
	color:#080!Important
}
.title_TopNew{
	font-size:18px;
}