/*--------------------------header---------------------------------*/
.header {
	width: 75%;
	margin: 0 auto;
	height:117px; 
	min-height: 20px;
	background-image:url('../images/PageTop_BG.gif');
	background-size:100% 100%;
	overflow: hidden;
   
}

/*----------------------footer-------------------------*/
.footer{
	width: 75%;
	margin: 0 auto;
	height: 90px;
	min-height: 20px;
	background-image: url('../images/PageTop_BG.gif');
	background-size:100% 100%;
	overflow: hidden;
}
/*---------------------content----------------------*/
.content{
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}
